#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: blue;
}

.ans_option{
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #1AA7EC;
    color: #FFE800;
}

#next{
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #4FC978;
    color: #FFE800;
}

#feedback{
    margin: 10px;
    font-size: 20px;
}

#additions{
    margin: 20px;
    font-size: 15px;
}

#points_calculator{
    margin: 10px;
    font-size: 20px;
}