#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: blue;
}

body{
    background-color: #64B5F6;
}

.ans_option{
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 5px;
    /* border-radius: 5px solid white; */
    background-color: #E3F2FD;
    border-color: #E3F2FD;
    color: black;
}

.media_source{
    width: 70%;
    height: auto;
}

.quiz_media{
    margin-left: 15%;
}

.text-media{
    font-size: 25px;
    width: 80% !important;
    text-align:center;
    color: white;
}

.bold{
    font-weight:bold;
}

.header{
    text-align:center;
    margin-top: 20px;
    /* color: #E3F2FD; */
    -webkit-text-stroke: 1px black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#question_number{
    font-size: 20px;
    text-align: center;
}

.smallpad{
    padding: 5px;
}

.question{
    margin-bottom: 15px;
    text-align:center;
    color: black;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.pad{
    padding: 20px;
}
.accent{
    background-color: #E3F2FD;
    color: black;
}
.main{
    background-color: #64B5F6;
    color: white;

}
.center{
    text-align:center;
}

.bkg{
    background-color: #64B5F6;
    padding: 15px;
    color: white;
}

#begin{
    margin-left: 90%;
    margin-top: 20px;
    padding: 5px;
    background-color: #E3F2FD;
    color: black;
    font-size: 20px;
    border-color: #E3F2FD;
}
#next{
    background-color: #E3F2FD;
    border-color: #E3F2FD;
    color: black;
}
#feedback{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}
#additions{
    margin: 20px;
    font-size: 15px;
}

#points_calculator{
    margin: 10px;
    font-size: 20px;
}