#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: blue;
}

.ans_option{
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #F4E9CD;
    color: #7DBEBB;
}

.bold{
    font-weight:bold;
}

.header{
    text-align:center;
    margin-top: 20px;
    color: #F4E9CD;
    -webkit-text-stroke: 1px black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.question{
    margin-bottom: 10px;
}
.pad{
    padding: 20px;
}
.accent{
    background-color: #F4E9CD;
}

.main{
    background-color: #7DBEBB
}
.center{
    text-align:center;
}

.bkg{
    background-color: #7DBEBB;
    padding: 15px;
}

#begin{
    margin-left: 90%;
    margin-top: 20px;
    padding: 5px;
    background-color: #F4E9CD;
    color: #7DBEBB;
    font-size: 20px;
    border-radius: 5px solid;
}
#next{
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: #4FC978;
    color: #FFE800;
}

#feedback{
    margin: 10px;
    font-size: 20px;
}

#additions{
    margin: 20px;
    font-size: 15px;
}

#points_calculator{
    margin: 10px;
    font-size: 20px;
}