{% extends "layout.html" %}

{% block content %}

<script type="text/javascript"></script>
    <style>
    	.col-md-4{
    		background-color: pink;
    	}
    	.btn-primary{
    		width: 100%; 
    		border:none; 
    		display:inline-block; 
    		color:black;
    	}
    	#options{
    		padding-bottom: 100px;
    	}

    	img{
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
			width: 100%;
  			height: auto;
    	}
		body{
			background-image: url("/static/media/world_map.JPG")
		}
    </style>


<body>
	<div class="container main">
    	<div class="row">
    		<div class="col-6"><img src="/static/media/world_map.JPG"></div>
 
			<div class="col-md-6 justify-content-center">
					<br>
					<h4 class="header">Greetings around the world!</h4>
					<br>
					This website is designed to help you learn greetings from Spain, Yemen, Japan, New Zealand, and Tibet. 
					Each country will have associated text, audio, images, and tips for the basic greetings of "Hello" and "Goodbye."
					At the very end of the learn section, you will take a quiz to test your understanding!
					<br>
					<br>
					<div class="col-md-6">
						<a class="btn btn-primary btn-lg accent" href="/learn/1">Click here to begin!</a>
					</div>
					<br>
					<br>
			</div>
    		
		</div>

	</div>
   
</body>


{% endblock %}