{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>
<script>
    let id = {{id|tojson}} 
    let learn = {{learn|tojson}} 
    console.log(learn)
</script>
    
<style>

    #country_name{
        text-align: center !important;
		padding: 10px;
		display:inline;
    }
	.media_source {
		width: 95%;
	}
	.jumbopad {
		padding-bottom: 10px;
	}
	.jumbotron{
		background-color:#E3F2FD;
		padding-top:20px;
		padding-bottom: 20px;
	}
	.centerme{
		text-align:center;
		margin: 0 auto;

	}
</style>

<body>
	<div class="container">
		<div class="row">
			<h1 id="country_name" class="header centerme" >{{learn["country"]}}</h1>
		</div>
    	<div class="row">
    		<div class="col">
    			<div class="jumbotron">
	    			<h3 class="jumbopad">Hello</h3>
	    			<div class="row" id="hello_content"></div>
                    <br>
	    			<div class="row" id="hello_description"></div>
					<br>
					<img class="media_source" src={{learn["media"]}} alt="greeting img" ></img> 
    			</div>	
			</div>
    		<div class="col">
				<div class="jumbotron">
	    			<h3 class="jumbopad">Goodbye</h3>
	    			<div class="row" id="goodbye_content"></div>
                    <br>
	    			<div class="row" id="goodbye_description"></div>
	    		</div>
				<br>
    		</div>
		</div>
		<div class="row">
			<div class="col-md-11">
				<button id="prev" class="btn btn-primary btn-lg" type="button">Previous</button>
			</div>
			<div class="col-md-1">
				<button id="next" class="btn btn-primary btn-lg accent" type="button">Next</button>
			</div>
		</div>
		<br>
	</div>
</body>


{% endblock %}
