{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>
<script>
    let id = {{id|tojson}} 
    let learn = {{learn|tojson}} 
    console.log(learn)
</script>
    
<style>
    .container{
        background-color: lightgrey;
    }
    #country_name{
        text-align: center;
    }
</style>

<body>
	<div class="container">
		<div class="row">
			<h1 id="country_name">{{learn["country"]}}</h1>
		</div>
    	<div class="row">
    		<div class="col">
    			<div class="jumbotron">
	    			<h3>Hello</h3>
	    			<div class="row" id="hello_content"></div>
                    <br>
	    			<div class="row" id="hello_description"></div>
    			</div>
    		<div class="row">
			<div class="col-md-6">
				<!--<a href="/learn/{{id}}"class="btn btn-primary btn-lg">Previous</a>-->
				<button id="prev" type="button">Previous</button>
			</div>

    	</div>
    			
		</div>
    		<div class="col">
				<div class="jumbotron">
	    			<h3>Goodbye</h3>
	    			<div class="row" id="goodbye_content"></div>
                    <br>
	    			<div class="row" id="goodbye_description"></div>
	    		</div>
		<div class="row">
			<div class="col-md-6">
				<!--<a href="/learn/{{id}}"class="btn btn-primary btn-lg">Next</a>-->
                <button id="next" type="button">Next</button>
			</div>
			
		</div>
    	</div>
	</div>
   
</body>


{% endblock %}
